[submodule "seelystreet.github.io"]
	path = seelystreet.github.io
	url = git@github.com:seelystreet/seelystreet.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = git@github.com:seelystreet/seelystreet.github.io.git
	branch = main
